<div class="content farm">
	<div class="center container">
      <h1 class="text-center">Better Data. Better Solutions.</h1>
      <h2 class="text-center"><small>Drone-Enabled Precision Agriculture<small></h2>
	  <p class="text-center"><button type="button" class="btn btn-lg btn-default homebutton">Get in Touch</button></p>
	</div>
</div>
<%=render 'layouts/subcontent' %>






