<div class="center">
	<div class="row">
      <h1 class="text-center"><i class="glyphicon glyphicon-fire icon-4x"></i></h1>
      <h1 class="text-center"><strong>Better Data. Better Solutions.</strong></h1>
      <p class="lead text-center">Insert tagline Here</p>
	  <p class="text-center"><button class="btn btn-large btn-primary">Get in Touch</button></p>
	</div>
</div>


