<%= form_for(@bloom) do |f| %>
  <% if @bloom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bloom.errors.count, "error") %> prohibited this bloom from being saved:</h2>

      <ul>
      <% @bloom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
