<%= form_for(@bloom_development) do |f| %>
  <% if @bloom_development.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bloom_development.errors.count, "error") %> prohibited this bloom_development from being saved:</h2>

      <ul>
      <% @bloom_development.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
