<ul class="nav pull-right">
    <li><%= link_to "Solutions",    '#' %></li>
    <li><%= link_to "Support",    '#' %></li>
	<li><%= link_to "Testimonials",    '#' %></li>
    <li><%= link_to "Sign in", '#' %></li>
</ul>