<div class="container">
<div class="row">
    <div class="col-xs-4 feature">
	  <h4 class="features">Air Solutions</h4>
      <i class="icon-cogs icon-4x shadowed"></i> 
    </div>
    <div class="separator"></div>
    <div class="col-xs-4 feature">
      <h4 class="features">Ground Solutions</h4>
      <i class="icon-plane icon-4x shadowed"></i> 
      <i class="icon-plane icon-3x shadowed " style="margin: 10px 0 0 -8px"></i> 
    </div>
    <div class="separator"></div>
    <div class="col-xs-3 feature">
      <h4 class="features">Web Application</h4>
      <i class="icon-desktop icon-4x shadowed"></i> 
    </div>
  </div>
</div>
